@media screen and (max-width: 1367px) {
  nav {
    padding: 0 $p_md;
  }

  #home {
    height: 100vh;
    > section {
      &:first-of-type {
        padding-left: $p_md;
        > div aside {
          width: 85%;
        }
      }
    }
  }

  #work {
    // padding: 8rem $p_md;
    // height: 110vh;
    > section {
      > article {
        height: 20rem;
        width: 90%;
      }
      .workItem {
        //   padding: 2rem;
        height: 40rem;
        > aside {
          > p {
            margin: 1rem;
          }
        }
      }
    }
  }

  #services {
    padding: $p_md;
    > section {
      height: 90%;
    }
  }
  #testimonial {
    padding: $p_md;
    > section {
      width: 100%;
    }
  }

  #contact > section > form {
    > input,
    > button {
      font: 400 0.8rem $text1;
      width: 50%;
    }
  }

  footer {
    // padding-left: $p_md;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 0 $p_base;
  }

  #home {
    height: 110vh;
    > section {
      &:first-of-type {
        padding-left: $p_base;
        > div {
          padding-top: 1rem;
          > h1 {
            font: 900 2.5rem $text1;
          }
          .typewriterpara {
            margin: 5px 0;
          }
          > div {
            a {
              &:first-of-type {
                padding: 0.7rem 2.2rem;
              }
              &:last-of-type {
                padding: 0.7rem 1.2rem;
              }
            }
          }

          aside {
            width: 100%;
          }
        }
      }
    }
  }

  #work {
    // padding: 5rem $p_base !important;
    > section {
      > div {
        width: 100%;
        .workItem {
          overflow-y: auto;
          height: 30rem;
          width: 70%;
          margin: auto;
          display: flex;
          align-items: center;
          color: $color1;
          // margin-bottom: 2rem;

          > img {
            border-radius: 20px;
            width: 40%;
            height: 50%;
            object-fit: cover;
          }

          > aside {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > p {
              letter-spacing: 3px;
              line-height: 150%;
              margin: 2rem;
            }
            > a {
              background-color: $color3;
              padding: 0.7rem 1rem;
              // margin: 2rem;
              color: $color4;
              transition: all 0.5s;
              &:hover {
                background-color: $color3_1;
              }
            }
          }
        }
      }
    }
  }

  #services {
    padding: $p_base_inverse;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0 $p_sm;
    > h2 {
      font-size: 1.8rem;
    }
    > div {
      gap: 1rem;
    }
  }

  #home {
    > section {
      &:first-of-type {
        padding-left: $p_sm;
        > div {
          > h1 {
            font: 900 2.3rem $text1;
          }
          > div {
            gap: 2rem;
            width: 100%;
          }
          article {
            width: 35%;
            > p {
              font: 900 1.5rem $text1;
            }
            > span {
              font: 500 1rem $text2;
            }
          }
          aside {
            article[data-special] {
              width: 65%;
            }
          }
        }
      }
    }
  }

  #work {
    // padding: 5rem $p_zero !important;
    > section {
      > div {
        width: 100%;
        .workItem {
          height: 40rem;
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: red;
          > img {
            // width: 40%;
          }
        }
      }
    }
  }

  // #services {
  //   padding: $p_sm_inverse ;
  //   // height: 90vh;
  // }
  #testimonial {
    padding: 2rem 0 !important;
    > h2 {
      padding: 3rem;
      margin-bottom: 0%;
    }
    > section {
      padding: 3rem;
      height: 45rem;
      justify-content: space-evenly;

      > article {
        width: 40%;
        height: 50%;
      }
    }
  }

  #contact > section > form {
    > h2 {
      font: 100 2.3rem $text2;
    }
    > input,
    > button {
      width: 65%;
    }
  }

  footer {
    // padding-left: $p_zero;
    padding: 2rem 0;
    flex-direction: column;
    > section {
      padding: 1rem 0;
      order: 3;
    }
    > div {
      order: 1;
      width: 100%;
      border: none;
      p {
        width: 50%;
        margin: 2rem auto;
      }
    }
    > aside {
      order: 2;
    }
    > a {
      // margin: 1rem;
    }
  }
}

@media screen and (max-width: 786px) {
  nav {
    > div,
    > a {
      display: none;
    }
  }
  .navBtn {
    display: block;
  }
  #home {
    height: 90vh;
    > section {
      &:first-of-type {
        > div {
          padding-top: 1.5rem;
          > div {
            gap: 2rem;
            width: 100%;
            a {
              font-size: 0.8rem;
            }
          }
          article {
            width: 35%;
            > p {
              font: 900 1.5rem $text1;
            }
            > span {
              font: 500 0.8rem $text2;
            }
          }
          aside {
            > article {
              margin: 0 0;
              padding: 1rem 0;
            }
          }
        }
      }
      // &:last-of-type{
      //   justify-content: flex-end;
      // }
    }
  }

  #work {
    // padding: 5rem 0 !important;
    > section {
      // padding: 8rem;
      > div {
        width: 100%;
        .workItem {
          height: 40rem;
          justify-content: center;
          // background-color: red;
          > img {
            width: 40%;
            height: 45%;
          }
          > aside {
            > p {
              letter-spacing: 2px;
              line-height: 150%;
              margin: 1rem;
            }
            > a {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
  #services {
    padding: $p_sm_inverse !important;
    // height: 90vh;
  }
}

@media screen and (max-width: 600px) {
  #home {
    height: unset;
    flex-direction: column-reverse;

    > section {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div {
          border: none;
          padding-top: 3rem;
          width: 100%;
          > h1 {
            font: 900 2.5rem $text1;
          }
          > div {
            flex-direction: column;
            a {
              font-size: 1rem;
              &:first-of-type {
                padding: 1rem 2.5rem;
              }
              &:last-of-type {
                padding: 1rem 1.2rem;
              }
            }
          }
          aside {
            align-items: center;
            flex-direction: column;
            width: 100%;
          }

          article[data-special] {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            > span {
              display: block;
              width: 100% !important;
              word-wrap: break-word;
              text-align: center;
            }
          }

          article {
            width: 100%;
            text-align: center;
            > p {
              font: 900 2rem $text1;
            }
            > span {
              font: 500 1rem $text2;
            }
            &::after {
              top: 0;
              left: 0%;
            }
          }
        }
      }

      &:last-of-type {
        border: none;
        > img {
          width: 40vmax;
          height: 40vmax;
        }
      }
    }

    > svg {
      font-size: 2rem;
      bottom: 12%;
    }
  }

  #work {
    > section {
      > div {
        width: 100%;
        > article {
          width: 100%;
          // height: 100% !important;
        }
        .workItem {
          // height: 100vh !important;
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;
          // margin-bottom: 4rem;
          > img {
            width: 50%;
            height: 40%;
          }
          > aside {
            > h3 {
              margin: 0 0 1rem 0;
              font-size: 1.5rem;
              padding: 0
            }

            > p {
              letter-spacing: 0;
              line-height: unset;
              margin: 0%;
              font-size: 1rem;
              // width: 50%;
            }

            > a {
              padding: 0.5rem 1rem;
              font-size: 0.8rem;
              margin: 1rem;
            }
          }
        }
      }
    }
  }

  #timeline {
    .timelineBox::after {
      left: 31px;
    }

    .timelineItem {
      width: 100%;
      padding-left: 5rem;
      padding-right: 2rem;
      &::after {
        left: 15px;
      }
    }

    .leftTimeLine {
      left: 0;
    }
    .rightTimeLine {
      left: 0;
    }
  }

  #services {
    width: 100vw !important;
    padding: 5rem 0 !important;
    align-items: center;
    > section {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      > * {
        > svg {
          font-size: 2rem;
        }
        > span {
          font: 700 1rem $text2;
          letter-spacing: 2px;
          margin: 0rem;
        }
      }
      .serviceBox1 {
        grid-column: 1/3;
        grid-row: unset;
      }

      .serviceBox4 {
        grid-column: 1/3;
      }
    }
  }
  #testimonial > section {
    height: unset;
    gap: 3rem;
    > article {
      width: 100%;
      height: 100vw;
    }
  }

  #contact {
    grid-template-columns: 1fr;
    > aside {
      display: none;
    }
  }
}
